body {
  font-family: 'Montserrat', sans-serif;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.squareWork {
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  border: solid 1px black;
  display: inline-flex;
  margin: 20px 20px;
}

.squareWork:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.forms {
  margin-top: 10px;
}

.formHolder {
  margin-top: 100px;
}